{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================== -->
<div class="form">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead">
        </p>
        <form action="/analysis" method="post" class="" enctype="multipart/form-data">
          <input type="file" class="" id="csv" name="file" required="">
          <button type="submit" class="">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
